<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.triplocation.repository.contents.TravelRepository">

    <resultMap id="Participant" type="com.korea.triplocation.domain.travel.entity.Participant">
        <id column="id" property="participantId"/>
        <result column="travel_id" property="travelId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <resultMap id="TravelRoutes" type="com.korea.triplocation.domain.travel.entity.TravelRoutes">
        <id column="id" property="routeId"/>
        <result column="travel_id" property="travelId"/>
        <result column="destinationName" property="destinationName"/>
        <result column="locationX" property="locationX"/>
        <result column="locationY" property="locationY"/>
        <result column="visitDate" property="visitDate"/>
    </resultMap>

    <resultMap id="Travel" type="com.korea.triplocation.domain.travel.entity.Travels">
        <id column="id" property="travelId"/>
        <result column="travel_name" property="travelName"/>
    </resultMap>

    <insert id="callInsertTravelData">
        {CALL InsertTravelData(#{travelName}, #{addr}, #{userId}, #{lat}, #{lng}, #{scheduleId}, #{visitDate})}
    </insert>

    <insert id="insertTravelData"
            parameterType="com.korea.triplocation.domain.travel.entity.Travels"
            useGeneratedKeys="true"
            keyProperty="travelId">
        INSERT INTO travels_tb
        VALUES (0, #{travelName})
    </insert>

    <insert id="insertScheduleData"
            parameterType="com.korea.triplocation.domain.travel.entity.Schedule"
            useGeneratedKeys="true"
            keyProperty="scheduleId">
        INSERT INTO schedule_tb
        VALUES (#{scheduleId}, #{locationId}, #{visitDate})
    </insert>

    <insert id="insertLocationData"
            parameterType="com.korea.triplocation.domain.travel.entity.Location"
            useGeneratedKeys="true"
            keyProperty="locationId">
        INSERT INTO location_tb
        VALUES (0, #{addr}, #{userId}, #{lat}, #{lng})
    </insert>

    <insert id="insertRouteData"
            parameterType="com.korea.triplocation.domain.travel.entity.TravelRoutes"
            useGeneratedKeys="true"
            keyProperty="routeId">
        INSERT INTO travel_routes_tb
        VALUES (0, #{travelId}, #{scheduleId})
    </insert>

    <select id="findTravelById" resultMap="Travel">
        SELECT
            t.travel_id,
            t.travel_name,
            t.start_date,
            t.end_date,

            p.participant_id,
            p.travel_id,
            p.user_id,

            r.route_id,
            r.travel_id,
            r.destination_name,
            r.location_x,
            r.location_y,
            r.visit_date
        FROM
            travel_tb t
            LEFT OUTER JOIN travel_participant_tb p ON (p.travel_id = t.travel_id)
            LEFT OUTER JOIN travel_routes_tb r ON (r.travel_id = t.travel_id)
        WHERE
            t.travel_id = #{travelId}
    </select>
</mapper>