<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.triplocation.repository.UserRepository">
	
	<resultMap type="com.korea.triplocation.domain.user.entity.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="postsImgId" column="posts_img_id"/>
	</resultMap>

	<select id="getUserById" resultMap="userMap">
	
		select
			user_id,
			email,
			name,
			phone,
			address,
			posts_img_id
		from
			user_tb
		where
			user_id = #{userId}
	
	</select>
	
	<select id="getUserAll" resultMap="userMap">
	
		select
			user_id,
			email,
			name,
			phone,
			address,
			posts_img_id
		from
			user_tb
			
	</select>
	
	<select id="searchUserByEmail" resultMap="userMap">
	
		select
			ut.user_id,
			ut.email,
			ut.name,
			ut.phone,
			ut.address,
			ut.provider,
			
			pit.posts_img_id,
			pit.origin_name,
    		pit.temp_name,
    		pit.img_size
		from
			user_tb ut 
			left outer join posts_img_tb pit on (pit.posts_img_id = ut.posts_img_id)
		where
			email = #{email}
			
	</select>
	
	<select id="searchUserByPhone" resultMap="userMap">
	
		select
			ut.user_id,
			ut.email,
			ut.name,
			ut.phone,
			ut.address,
			ut.provider,
			
			pit.posts_img_id,
			pit.origin_name,
    		pit.temp_name,
    		pit.img_size
		from
			user_tb ut 
			left outer join posts_img_tb pit on (pit.posts_img_id = ut.posts_img_id)
		where
			phone = #{phone}
			
	</select>
	
	<update id="modifyUser">
		
		update 
			user_tb
		set
			email = #{email},
			name = #{name},
			phone = #{phone},
			address = #{address},
			posts_img_id = #{postsImgId}
		where
			user_id = #{userId}
	
	</update>

	<insert id="postsImg" parameterType="com.korea.triplocation.domain.user.entity.PostsImg" useGeneratedKeys="true" keyProperty="postsImgId">
		insert into posts_img_tb
		values (0, #{userId}, #{originName}, #{tempName}, #{imgSize})
	</insert>
	
	<update id="resetPassword">
		
		update
			user_tb
		set
			password = #{password}
		where
			email = #{email}
			
	</update>
	
	<delete id="deleteUser" parameterType="int">
	
		delete
		from 
			user_tb
		where
			user_id = #{user_id}
			
	</delete>
	
</mapper>